@inherits AppCode.Razor.AppRazor
@using AppCode.Data
@{  
  var disqus = MyItem;
  var configSuccess = App.Settings.DomainKey != "2sxc-org.disqus.com";
  // required for disqus
  var dataTimestamp = DateTimeOffset.Now.ToUnixTimeSeconds();
}

@if (!configSuccess) {
  <div class="app-disqus2-warning" @Kit.Toolbar.Default(disqus)>@Html.Raw(App.Resources.ConfigurationWarning)</div>
  <style>
    .app-disqus2-warning {
      color: #856404;
      background-color: #fff3cd;
      padding: .75rem 1.25rem;
      margin-bottom: 1rem;
      border-radius: .25rem;
    }
  </style>
  return;
}

<div id="disqus_thread" @Kit.Toolbar.Default(disqus)></div>
<script src='https://@App.Settings.DomainKey/embed.js' @Kit.Page.AssetAttributes(position: "bottom") data-timestamp="@dataTimestamp"></script>