@inherits Custom.Hybrid.Razor14
@{  
  var configSuccess = Settings.DomainKey != "2sxc-org.disqus.com";

  var data = new {
    domainKey = Settings.DomainKey
  };

}


<div class="app-disqus2-toolbar" @Kit.Toolbar.Default(Content)>
</div>

<style>
  .app-disqus2-toolbar {
    display: flex;
    flex-direction: row-reverse;
  }
</style>

<div id="disqus_thread" @Kit.Toolbar.Default(Content)>
  @if (!configSuccess) {
    <div class="app-disqus2-warning">@Html.Raw(Resources.ConfigurationWarning)</div>
    <style>
      .app-disqus2-warning {
        color: #856404;
        background-color: #fff3cd;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border-radius: .25rem;
        display: flex;
        justify-content: space-between;
      }
    </style>
    return;
  }
  <div id="disqus_thread_loader">@Html.Raw(Resources.DisqusLoadingMessage)</div>
</div>

<script src="@App.Path/src/js/index.js" @Kit.Page.AssetAttributes()></script>
 @Kit.Page.TurnOn("window.appDisqus3.initPro()", data: data)

